@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<div class="col-sm-6 contentBody">
    <h2>Home</h2>
    <p>Welcome to our raiding blog!</p>
    <h4>Newest projects</h4>
    @Umbraco.RenderMacro("newestProjects")
</div>